@font-face {
    font-family: 'Dm-sans';
    src: url(../fonts/DMSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-reguler';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-bold';
    src: url(../fonts/Poppins-Bold.ttf);
}